@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");

:root {
  --primary-color: #216870;
  --dark-gray: #6b7280;
  --accent: #d1d5db;
  --off-white: #f5f5f5;
}

@media screen and (max-width: 500px) {
  .Blogsection .Blogtext {
    padding-left: 0rem;
  }

  .navigation a {
    display: none;
  }

  .navigation#navi a.icon {
    display: block;
    float: right;
  }

  .navigation.responsive {
    position: relative;
  }

  /* .navigation.responsive .icon {
    padding: 0.5rem 0.5rem;
  } */
  .navigation .nav-pills {
    float: none;
    display: none;
  }

  .navigation.responsive a {
    float: none;
    display: block;
    text-align: center;
  }

  .navigation.responsive .nav-pills {
    display: block;
  }

  .navigation ul {
    margin: 0;
    padding: 0;
  }

  .navigation.responsive div.nav-brand {
    text-align: center;
    display: block;
  }

}

#bImg {
  max-width: 450px;
  width: 100%;
  float: left;
  margin-right: 5rem;
}

#blogTxt p {
  border-left: 7px solid var(--primary-color);
  overflow: hidden;
  padding: 1rem;
  min-width: 45%;
}

#blogHead {
  font-weight: bolder;
  border: 3px solid var(--primary-color);
  width: max-content;
  padding: 10px;
}

.navigation a.icon {
  display: none;
}



hr {
  margin: 2rem 0rem;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0 4px;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.container-center {
  margin: auto;
  max-width: 600px;
}

.container-center .paragraphs {
  text-align: justify;
}

section .verticalLine {
  border-left: thick solid var(--accent);
}

.link {
  text-decoration: none;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
}

.proj-link {
  margin-right: 0.4rem;
}

.social-links {
  color: var(--accent);
  font-size: 1.5rem;
}

.primary-link {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  color: var(--accent);
}

.secondary-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
}

/* lists */
.non-bullets {
  list-style: none;
}

.list-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

.navigation {
  overflow: hidden;
  background-color: var(--primary-color);
  color: black;
  padding: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.navigation .link {
  color: var(--accent);
}


.nav-pills {
  float: right;
}

.navigation .nav-brand {
  font-weight: bolder;
  font-size: 1.7rem;
  color: white;
  font-family: "Parisienne", cursive;
}

.navigation .link-active {
  font-weight: bolder;
  color: white;
}

.hero {
  padding: 2rem;
}

.hero .hero-img {
  max-width: 450px;
  width: 100%;
  display: block;
  margin: auto;
}

.hero .hero-text {
  color: var(--dark-gray);
  padding-top: 1rem;
  text-align: center;
}

.hero .hero-sub-text {
  color: var(--dark-gray);
  /* text-align: center; */
}

.hero .hero-text .heading-inverted {
  color: var(--primary-color);
}

.section {
  padding: 2rem;
}

.section h3 {
  text-align: center;
}

.ow {
  background-color: var(--off-white);
}

.footer {
  background-color: var(--primary-color);
  padding: 2rem 1rem;
  text-align: center;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  padding-inline-start: 0px;
}

.footer .footer-header {
  font-weight: bolder;
  font-size: large;
  color: var(--accent);
}

.navigation a:hover,
.footer a:hover {
  color: #f9fafb;
}