@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    --primary-color: #216870;
    --dark-gray: #6B7280;
    --accent: #D1D5DB;
    --off-white: #f5f5f5;

}

hr {
    margin: 2rem 0rem;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}



.container-center {
    margin: auto;
    max-width: 600px;

}

.container-center .paragraphs {
    text-align: justify;
}

.link {
    text-decoration: none;
    padding: 0.5rem 1.0rem;

}

.proj-link {
    margin-right: 0.4rem;
}

.social-links {
    color: var(--accent);
    font-size: 1.5rem;
}

.primary-link {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: var(--accent);
}

.secondary-link {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;

}

/* lists */
.non-bullets {
    list-style: none;
}

.list-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.navigation {
    background-color: var(--primary-color);
    color: black;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.navigation .link {
    color: var(--accent);
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.2rem;
    color: white
}

.navigation .link-active {
    font-weight: bolder;
    color: white;
}

.hero {
    padding: 2rem;
}

.hero .hero-img {
    max-width: 450px;
    display: block;
    margin: auto;
}

.hero .hero-text {
    color: var(--dark-gray);
    padding-top: 1rem;
    text-align: center;
}

.hero .hero-sub-text {
    color: var(--dark-gray);
    /* text-align: center; */
}

.hero .hero-text .heading-inverted {
    color: var(--primary-color);
}

.section {
    padding: 2rem;
}

.section h3 {
    text-align: center;
}

.ow {
    background-color: var(--off-white);
}

.footer {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    padding-inline-start: 0px;
}

.footer .footer-header {
    font-weight: bolder;
    font-size: large;
    color: var(--accent);
}
a:hover{
    color: white;
}